version: "3.8"

services:
  backend:
    build: ./server
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    restart: unless-stopped

  frontend:
    build: ./client
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
