version: "3.8"

services:
  backend:
    build: ./server
    env_file:
      - ./server/.env
    restart: unless-stopped
    expose:
      - "3000"

  nginx:
    build: ./client
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
